<!-- Custom jumbotron background -->
<style type="text/css">
.jumbotron {
  background-size: cover;
  background: url('http://i.imgur.com/YlLiivh.png') no-repeat center center;
  padding: 50px;
}
</style>

<!-- Index page jumbotron -->
<div class="jumbotron">
  <div class="container">
    <font color = "ffffff"><strong><h1>Client-Side Javascript</strong></h1>
        <p>Some code is done on the server's side. Some on the client's side.</p> 
    </font> 
  </div>
</div>

<div class="container">
  <h1>Client-Side Javascript</h1>
  <font color = "A9A9A9"><h4>HELLO FROM THE CLIENT SIDE</h4></font>
  <p>Code on the server side, in this case, is Ruby; and on the client's side, is Javascript. Javascript is a common client-side lanaguage which can be used in web pages to do all sorts of things. In this case, a fake login page which attempts to do some client-side form validation.</p> 
  <a class="btn btn-primary btn-lg" href="/client_side" role="button">Example</a>
</div>

