<!-- Custom jumbotron background -->
<style type="text/css">
.jumbotron {
  background-size: cover;
  background-color:#A05F5F;
}
</style>

<!-- Index page jumbotron -->
<div class="jumbotron">
  <div class="container">
    <font color = "ffffff"><strong><h1>Cross-site Request Forgery</strong></h1>
        <p>A CSRF is an exploit found in web applications where unauthorized actions by exploiting the between a webserver and the browser.</p> 
    </font> 
  </div>
</div>

<div class="container">
  <h1>CSRF</h1>
  <font color = "A9A9A9"><h4></h4></font> 
  <p>We can actually fairly simply force this application to log you out of your session if you were to login. You can see an example of how to exploit this web application using this YouTube <strong><a href="linktovideo">video</a></strong>.</p> 
  <!-- Beware websites that'll try to trick you ;) -->
  <a class="btn btn-primary btn-lg" href="/logout" role="button">Example</a>
</div>

