<!-- Custom jumbotron background -->
<style type="text/css">
.jumbotron {
  background-size: cover;
  background-color:#A05F5F;
}
</style>

<!-- Index page jumbotron -->
<div class="jumbotron">
  <div class="container">
    <font color = "ffffff"><strong><h1>Cross-site Scripting</strong></h1>
        <p>Cross-site scripting (XSS) is a type of computer security vulnerability typically found in web applications. XSS enables attackers to inject client-side scripts into web pages viewed by other users.</p> 
    </font> 
  </div>
</div>

<div class="container">
  <h1>Reflected Cross-Site Scripting</h1>
  <font color = "A9A9A9"><h4>How Can Mirrors Be Real If Our Eyes Aren't Real</h4></font> 
  <p>Reflected Cross-Site Scipting attacks are non-persistent attacks which are leveraged by malicious scripts when they are "reflected" off of a web application to the victim's browser.</p> 
  <a class="btn btn-primary btn-lg" href="/reflected_xss" role="button">Example</a>
</div>

