<!-- Custom jumbotron background -->
<style type="text/css">
.jumbotron {
  background: url('http://i.imgur.com/qt5xgpH.png') no-repeat center center;
  background-size: cover;
  padding: 50px;
}
</style>

<!-- Index page jumbotron -->
<div class="jumbotron">
  <div class="container">
    <font color = "ffffff"><strong><h1>Trouble in Hoboken</strong></h1>
        <p>Trouble in Hoboken is an open source Ruby web application built to assit in understanding how to exploit and create vulnerable code using the Sinatra DSL, Bootstrap, and MySQL.</p> 
    </font> 
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">What kind of trouble?</a></p>
  </div>
</div>

<!-- Three panel infromation container -->
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2><strong>Sinatra</strong></h2>
      <font color = "A9A9A9"><h4>Back-End</h4></font>
      <p>This application utilizes <a href="http://www.sinatrarb.com/">Sinatra</a>, a DSL for quickly creating web applications in <a href="https://www.ruby-lang.org/">Ruby</a> with minimal effort. This allows us to focus on the problems with vulnerable code, not weird code symantics.</p>
    </div>
    <div class="col-md-4">
      <h2><strong>Bootstrap</strong></h2>
      <font color = "A9A9A9"><h4>Front-End</h4></font>
      <p><a href="http://getbootstrap.com/">Bootstrap</a> the front-end web framework for our web application. It handles the styling of HTML, CSS, and most of our JavaScript extensions. I think it looks pretty cool mysel.</p>
    </div>
    <div class="col-md-4">
      <h2><strong>MySQL</strong></h2>
      <font color = "A9A9A9"><h4>Database</h4></font>
      <p>For the lols I choose <a href="https://www.mysql.com/">MySQL</a> as this applications  open-source relational database management system of choice because it is often used for other vulnerable web applications.</p>
    </div>
  </div>
</div>
